<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
        <title>TodoList Supports PWA</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add to home screen for Android and modern mobile browsers -->
        <link rel="manifest" href="/static/manifest.json">
        <meta name="theme-color" content="#2874f0">
        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="TodoList">
        <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
        <!-- Add to home screen for Windows -->
        <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#000000">
        <% for (var jsFilePath of htmlWebpackPlugin.files.js) { %>
            <link rel="preload" href="<%= jsFilePath %>" as="script">
        <% } %>
        <% for (var cssFilePath of htmlWebpackPlugin.files.css) { %>
            <link rel="preload" href="<%= cssFilePath %>" as="style">
        <% } %>

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?4d32c0618a7e940e509a6bac65b1f3c9";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>

    </head>
    <body>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
